@{
    ViewBag.Title = "EPsiC";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                <em>Maître Yoda a dit :</em>
               Bienvenue jeune Padawan. Si client de l'EPSI tu es, au bon endroit tu a été redirigé.<br/><br />
                <em>Gandoulf a dit :</em><br/>
                Parlez Ami et entrez, C'est une énigme.
                <br/>
                Sinon lève la tête et regarde tu verras un signe, -> Se connecter :)
            </p>
        </div>
    </section>
}
<h3>Nous vous sugérons de</h3>
<ol class="round">
    <li class="one">
        <h5>Vous Connecter</h5>
        C'est plus pratique vous verrez....
    </li>

    <li class="two">
        <h5>De vous déconnecter après usage</h5>
        Question de politique de sécurité. Sécurité est mère de raison
    </li>

    <li class="three">
        <h5>De revenir....</h5>
        Parce qu'on est en travaux... ça arrive même aux meilleurs
    </li>
</ol>
